*,html{
  padding:0;
  margin:0;
  box-sizing:border-box;  
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size:12px;
}

.bg-img{
    background-image: url(images/bg-pattern-desktop.svg);
}
.illustration-box{
    background-image: url(images/illustration-box-desktop.svg);
}

.woman{
    background-image: url(images/illustration-woman-online-desktop.svg);
}
